


body {
  font-family: Arial, sans-serif;
  }
  
  .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .card {
  width: 22%;
  height: 30%;
  margin-bottom: 40px;
  background-color: #ffffff5e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.534);
  overflow: hidden;
  }

  .card img {
  margin-top: 2%;
  width: 95%;
  height: 60%;
  object-fit: cover;
  }
  
  .description {
  padding: 10px;
  }
  
  .description h2 {
    font-size: medium;
  margin-bottom: 10px;
  }
  .description h3 {
    font-size: small;
    margin-bottom: 10px;
    }
  
